// Example of the flex system for @microsiervos.com (2017)
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
//
// @author Alex M. Gorgal <alex@worldx3.com> aka @gruncho

@import 'variables/dimensions';

$section-cards-with: $row-width;
$section-cards-max-with: $row-max-width;
$section-cards-article-card-margin-bottom: 48px;
$section-cards-article-card-margin: 25px;

.section-cards {
	align-items: stretch;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	max-width: $section-cards-max-with;
	margin: 0 auto;
	overflow: hidden; // wrap
	width: $section-cards-with;

	.article-card {
		border: 1px solid #f0f0f0;
		box-sizing: border-box;
		margin-bottom: $section-cards-article-card-margin;
		margin-right: calc(#{$section-cards-article-card-margin} / 2);
		margin-left: calc(#{$section-cards-article-card-margin} / 2);
	}
}

// mobile first

@media only screen and (min-width: $dimension-mobile){
	.section-cards {		
		flex-flow: row wrap;

		.article-card {
			flex: 0 1 40%;
		}
	}
}

@media only screen and (min-width: $dimension-tablet){
	.section-cards {				
		.article-card {
			flex: 0 1 30%;
		}
	}
}

@media only screen and (min-width: $dimension-desktop){
	.section-cards {		
		.article-card {
			flex: 0 1 20%;
		}
	}
}

@media only screen and (min-width: $dimension-fulldesktop){
	.section-cards {		
		.article-card {
			flex: 0 1 10%;
		}
	}
}