// Example of the flex system for @microsiervos.com (2017)
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
//
// @author Alex M. Gorgal <alex@worldx3.com> aka @gruncho

@import 'variables/colors';

$picture-background-color: $original-white;
$picture-border-color: $picture-background-color;

.picture {
	background: $picture-background-color;
	overflow: hidden;

	&_img {
		margin: 0 auto; // shame (revise)
	}
}
